<div class="dropdown show">
  <h3 class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: #fff;">
    <%= @period == :quarter ? "Quarterly" : "Monthly" %> cohort report
  </h3>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <% if @period == :quarter %>
      <%= link_to "Monthly cohort report", url_for(period: :month), class: "dropdown-item" %>
    <% else %>
      <%= link_to "Quarterly cohort report", url_for(period: :quarter), class: "dropdown-item" %>
    <% end %>
  </div>
</div>
